@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SimpleContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("pageTitle")</h2>
            @Umbraco.Field("bodyText")
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->